@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .cell {
        @apply w-28 h-28 flex items-center justify-center text-2xl border border-purple-900 cursor-pointer rounded bg-purple-700;
    }
    .btn {
        @apply text-white px-4 py-2 rounded;
    }
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}
